body {
  background-image: url(../img/courtbackground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 1.2em;
  font-family: Arial;
  color: white;
  margin-top: 60px;
  background-color: darkgray;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf')
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-bold.ttf')
}

p{
	font-family: Montserrat-light;
}

b {
  font-family: Montserrat-bold;
}

#chatinput {
  background-color: #ffffff;
  border-radius: 30px;
  height: 25px;
  width: 210px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#chatcontainer{
  display: inline;
}

#afegir {
  height: 40px;
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10%;
}

#botocontenidor {
  position: fixed;
  top: 90%;
  left: 0;
  right: 0;
  height: 100px;
}

#backbutton {
  position: absolute;
  top: 55px;
  padding: 20px;
}

#barra {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00897b;
}

#menubutton {
  margin-top: 11px;
  float: left;
  padding-left: 3%;
  width: 30%

}

#logonamed {
  margin-top: 10px;
  float: left;
  text-align: center;
  width: 40%
}

#searchbutton {
  margin-top: 15px;
  float: right;
  padding-right: 3%;
  text-align: right;
  width: 24%
}

li {
  list-style:none;
}

#linea {
height: 60px;
background-color: #00897b;
}

.input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: black;
}
